// Easing
$linear: cubic-bezier(0.25, 0.25, 0.75, 0.75) !default;
$ease: cubic-bezier(0.25, 0.1, 0.25, 1) !default;
$ease-in: cubic-bezier(0.42, 0, 1, 1) !default;
$ease-out: cubic-bezier(0, 0, 0.58, 1) !default;
$ease-in-out: cubic-bezier(0.42, 0, 0.58, 1) !default;
$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53) !default;
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19) !default;
$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22) !default;
$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06) !default;
$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715) !default;
$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035) !default;
$easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335) !default;
$easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045) !default;
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94) !default;
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1) !default;
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1) !default;
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1) !default;
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1) !default;
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1) !default;
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1) !default;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275) !default;
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955) !default;
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1) !default;
$easeInOutQuart: cubic-bezier(0.77, 0, 0.275, 1) !default;
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1) !default;
$easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95) !default;
$easeInOutExpo: cubic-bezier(1, 0, 0, 1) !default;
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86) !default;
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55) !default;

// z-index
$zindex-overlay: 1000 !default;
$zindex-tooltip: 1001 !default;
$zindex-carousel: 1002 !default;
$zindex-dropdown: 1003 !default;
$zindex-sticky: 1004 !default;
$zindex-drawer: 1005 !default;
$zindex-modal: 1006 !default;
$zindex-loader: 1007 !default;

$root-font-sizes: (
  sm: 3.125vw,
  md: 10px,
  lg: 10px
) !default;

$breakpoints: (
  sm: 0,
  md: 768px,
  lg: 1280px
) !default;

$color-white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$color-black: #333 !default;
$color-red: #d24d57 !default;
$color-blue: #007bff !default;

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif !default;
$base-border-radius: 4px !default;
$base-outline-width: 4px !default;
$base-outline-color: $color-blue !default;
$base-transition-duration: 0.2s !default;
$base-transition-timing-function: ease !default;

// Button
$btn-background-color: $gray-400 !default;
$btn-padding-x: 1.2em !default;
$btn-padding-y: 0.25em !default;
$btn-color: $color-black !default;
$btn-font-size: 1rem !default;
$btn-line-height: 1.4 !default;
$btn-disabled-background-color: $gray-400 !default;
$btn-disabled-color: $color-white !default;

// Ghost Button
$ghostbtn-border-width: 2px !default;
$ghostbtn-color: $color-white !default;
$ghostbtn-hover-border-color: $color-white !default;
$ghostbtn-hover-background-color: $color-white !default;
$ghostbtn-hover-color: $color-black !default;
$ghostbtn-primary-color: $color-blue !default;
$ghostbtn-primary-hover-border-color: $color-blue !default;
$ghostbtn-primary-hover-background-color: $color-blue !default;
$ghostbtn-primary-hover-color: $color-white !default;

// Icon Button
$iconbtn-padding: 0.5em !default;

// Float Label
$floatlabel-placeholder-color: $gray-600 !default;
$floatlabel-textfield-padding: 16px 20px 0 !default;

// Spinner
$spinner-size: 40px;
$spinner-border-width: 4px;
$spinner-border-color: $color-red !default;
$spinner-animation-duration: 1s !default;

// Loader
$loader-backdrop-background-color: $color-black !default;

// Modal
$modal-offset-x: 20px;
$modal-offset-top: 64px;
$modal-dialog-background-color: $color-white !default;
$modal-backdrop-background-color: $color-black !default;

// Drawer
$drawer-background-color: $color-black !default;
$drawer-backdrop-background-color: $color-black !default;
$drawer-transition-duration: 0.75s !default;
