@use "../api" as *;

.p-btn {
  display: inline-flex;
  align-items: center;
  background-color: $btn-background-color;
  padding: $btn-padding-y $btn-padding-x;
  color: $btn-color;
  font-size: $btn-font-size;
  font-weight: bold;
  line-height: $btn-line-height;
  text-decoration: none;
}

.p-ghostbtn {
  @extend .p-btn;
  background-color: transparent;
  border: $ghostbtn-border-width solid currentcolor;

  &[disabled] {
    background-color: $ghostbtn-disabled-background-color;
    color: $ghostbtn-disabled-color;
    border-color: $ghostbtn-disabled-border-color;
  }
}